@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: rgb(111, 36, 179);
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
  perspective: 500px;
  transform-style: preserve-3d;
}
.work-card-active {
}
.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}
@layer utilities {
  .app__flex {
    @apply flex justify-center items-center;
  }
  .p-text {
    @apply text-sm text-cu-gray  xl:text-xl;
  }
  .head-text {
    @apply text-2xl font-bold text-center text-black capitalize;
  }
  .skills__con {
    @apply h-[100%] flex justify-center md:justify-start w-fit;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #1e3a8a;
}
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.bold-text {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
.custom-shape-divider-top-1721805143 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1721805143 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1721805143 .shape-fill {
  fill: #edf2f8;
}
.spikes {
  position: absolute;
  right: 0;
  left: -0%;
  bottom: 0;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 30px 100%;

  background-position: 0 0;
}
.spikes.gray {
  background-image: linear-gradient(135deg, #edf2f8 25%, transparent 25%),
    linear-gradient(225deg, #edf2f8 25%, transparent 25%);
}
.spikes.navy {
  background-image: linear-gradient(135deg, #2a1033 25%, transparent 25%),
    linear-gradient(225deg, #2a1033 25%, transparent 25%);
}
.custom-shape-divider-top-1721842854 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1721842854 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.custom-shape-divider-top-1721842854 .shape-fill {
  fill: #edf2f8;
}
.skill-tag {
  transform: translateX(-50%) translateY(-50px);
}
.skill-tag-hover {
  transform: translateX(-50%) translateY(0);
}
.skills__con:hover span {
  transform: translateX(-50%) translateY(0);
}
.custom-shape-divider-top-1721849267 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1721849267 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1721849267 .shape-fill {
  fill: #1f214c;
}
.work-card-bg {
  background-color: rgba(77, 47, 72, 0.3);
  border: 1px solid #9333ea;
}
.work-bg {
  background-attachment: fixed;
}
.separator {
  position: absolute;
  width: 100%;
  height: 300px;
  transform-origin: left top;
  transform: skewY(-7deg);
}
.separator-top {
  background: rgb(31, 15, 47);
}
.separator-bottom {
  background: #edf2f8;
}
.aboutCard-img-overlay {
  transform: translate(-50%, -50%);
}
